:root {
  // White 
  --white: white;
  --white-210: rgb(210, 210, 210);
  // Black
  --black: black;
  --black-20: rgb(20, 20, 20);
  // Grey
  --grey-50: rgb(50, 50, 50);
  --grey-100: rgb(100, 100, 100);
}