.network-table {
  color: var(--white-210);
}

.head {
  background-color: var(--black);
}

.odd {
  background-color: var(--grey-50);
}

.even {
  background-color: var(--grey-100);
}

.cell {
  padding: 2px 10px;
}